/* Estilo para o Spinner de Carregamento */
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db; /* Cor principal do spinner */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite; /* Animação de rotação */
    position: absolute; /* Posiciona o spinner no centro do slide */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5; /* Garante que o spinner fique acima da imagem enquanto carrega */
    display: none; /* Inicia oculto */
}

/* Animação de rotação para o spinner */
@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

/* Quando o slide está carregando, garante que a imagem esteja oculta */
.carousel-slide.loading img {
    opacity: 0;
}
